.FullPost {
    width: 80%;
    margin: 20px auto;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px black;
    text-align: center;
}

.Edit {
    color: black; 
}

.Edit label {
    display: block;
    color: black;
}

.Edit button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    color: black;
}

.Edit button:hover,
.Edit button:active {
    color: #521751;
}

.Edit button.Delete {
    border: 2px solid black;
    border-radius: 5px;
    margin: 10px 10px;
    color: black;
}

.Edit button.Delete:hover,
.Edit button.Delete:active {
    color: white;
    background-color: black;
    border: 2px solid red;
}