.Person {
    padding: 2px;
    margin: 20px 20px;
    border: 2px solid black;
    box-shadow: 1px 2px 2px black;
    box-sizing: border-box;
    width: 30%;
    text-align: center;
    display: inline-block;
}